.user {
    padding: 6px;
}

.user:nth-child(odd) {
    background: #eee;
}

.user:nth-child(even) {
    background: #ddd;
}

.fullname {
    display: inline-block;
}

.options {
    float: right;
    min-width: 80px;
}

.options > form {
    display: inline;
}

.info {
    display: none;
}

#dayAtHTML {
    transform-origin:50% 50%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#dayAtHTML:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}

