@(facultyForm: Form[models.Faculty], faculties: Seq[Faculty])(implicit request: RequestHeader)


@main() {

    <form id="faculty-data-form" role="form" action='@routes.FacultyController.addFaculty()' method="post" class="form-horizontal" autocomplete="off">
        <input type="text" id="nameGroup" name="nameGroup" value="" placeholder="Name of New Faculty" class="form-control input-lg" required>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type=submit class="btn btn-primary ynt-btn-orange">Add</button>
        </div>
    </form>

    @for(faculty<-faculties){
        <span>@faculty</span><a href="@routes.FacultyController.deleteFaculty(faculty.name)">delete</a>
    }

}