@(pointform: Form[models.PointFormData], points: Seq[models.Point])(implicit request: RequestHeader)
@main() {
    <form id="point-data-form" role="form" action='@routes.Application.addUser()' method="post" class="form-horizontal" align="center" autocomplete="off">

        <input type="text" id="subject" name="subject" value="" placeholder="Subject" class="form-control input-lg" required>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type=submit class="btn btn-primary ynt-btn-orange">Add</button>
        </div>
    </form>

    <div class="point-display">
    <fieldset>
        <table cellspacing="20">
            <tr>
                name
            </tr>
            @for(point<-points){
                <tr>
                    <td>@point.subject</td>
                    <td><a href="@routes.Application.deletePoint(point.id) ">delete</a></td>
                </tr>
            }
        </table>
    </fieldset>
    </div>
}