@()(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>TNEU Schedule</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("mdl/material.css")">
        <script type='text/javascript' src='@routes.Assets.versioned("mdl/material.js")'></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/bootstrap.js")'></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    @content
    </body>
</html>