@(groupform: Form[models.GroupFormData], points: Seq[models.Point], days: Seq[String])(implicit request: RequestHeader)

@main() {
    <form id="point-data-form" role="form" action='@routes.ScheduleController.checkGroup()' method="post" class="form-horizontal" align="center" autocomplete="off">
        <div>Name of group</div>
        <input type="text" id="nameGroup" name="nameGroup" value="" placeholder="Name of group" class="form-control input-lg" required>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type=submit class="btn btn-primary ynt-btn-orange">Show</button>
        </div>
    </form>

    <div class="point-display">
        <fieldset>
            <table cellspacing="20">
                <tr>
                    <td>Subject</td>
                    <td>Name of group</td>
                    <td>Start</td>
                    <td>Type</td>
                    <td>Teacher</td>
                    <td>Auditorium</td>
                </tr>
                @for(d <- days) {
                    <tr><th>@d</th></tr>
                    @for(point <- points
                        if point.day == d
                    ) {
                        <tr>
                            <td>@point.subject</td>
                            <td>@point.groupName</td>
                            <td>@point.start</td>
                            <td>@point.kind</td>
                            <td>@point.teacher</td>
                            <td>@point.auditorium</td>
                        </tr>
                    }
                }
            </table>
        </fieldset>
    </div>
}