@(groupform: Form[models.GroupFormData], points: Seq[models.Point], days: Seq[String])(implicit request: RequestHeader)

@main() {
    <form id="point-data-form" role="form" action='@routes.ScheduleController.checkGroup()' method="post" class="form-horizontal col-md-2 col-md-offset-5" align="center" autocomplete="off">
        <div >
            <input class="mdl-textfield__input" type="text" id="nameGroup" name="nameGroup" value="" placeholder="Name of group" required>
        </div>
        <div>
            <button type=submit class="btn btn-primary ynt-btn-orange">Show</button>
        </div>
    </form>
    <form>
        <div class="col-md-7">
            @if(points != null) {
                <fieldset>
                    <table cellspacing="20" class="table table-hover table-bordered table-condensed">
                        <tr>
                            <td>Day</td>
                            <td>Pair</td>
                            <td>Subject</td>
                            <td>Start</td>
                            <td>Type</td>
                            <td>Teacher</td>
                            <td>Auditorium</td>
                        </tr>
                        @for(d <- days) {
                            <tr><td id="dayAtHTML" rowspan="12">@d</td>
                                @for(point <- points
                                    if point.day == d
                                ) {
                                    <td>
                                    @point.pair match {
                                        case true => {Pair}
                                        case false => {Odd}
                                    }
                                    </td>
                                    <td>@point.subject</td>
                                    <td>@point.start</td>
                                    <td>@point.kind</td>
                                    <td>@point.teacher</td>
                                    <td>@point.auditorium</td>
                                </tr>
                        }
                        }
                        }
        </table>
        </fieldset>
        </div>
    </form>
}